* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sofia-pro', sans-serif ;
}

a {
    text-decoration: none;
    color: white;
}
 
p {
    margin: 0 0 20px 80px;

}

ul {
    margin: 0 0 30px 80px;

}

/* these are the styles forthe headings*/

h1 {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    margin: 40px 0;

}

h1.home {
    margin-bottom: 0;
}

h1.tm {
    font-weight: 200;
    font-style: italic;
    font-size: 40px;
    color: #002561;
    margin: 0;
}

h1.under {
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    color: #002561;
    margin-top: 0;
}

h2 {
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: #002561;
    margin-bottom: 20px;

}

h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin: 0 0 20px 80px;

}
    

/*This is the style fot the NavBar section*/

nav {
    /* this controls the box surrounding the entire navbar*/
    background-color: #002561;
    display: inline-block;
    width: 100%;
}

div.leftnav a {
    /* this determines the logo link*/
    float: left;
    padding: 20px 30px;
}

div.rightnav a {
    /* this determines the links on the right side of the navbat*/
    text-align: center;
    float: right;
    font-size: 16px;
    padding: 40px;
    font-family: 'Alata', sans-serif;
}

nav:hover {
    /* this controls what happens when the nav bar is hovered over*/
    background-color: white;
}

nav:hover div.rightnav a {
    /* this controls what happens to the right links when the navbar is hovered over*/
    color: #002561;
}

nav:hover div.rightnav a:hover {
    /* this controls what happens when the links are hovered over*/
    color: #ffc40c;
}

nav:hover div.leftnav img:hover {
    /* this controls what happens to the logo when it is hovered over*/
    width: 200px;
}

/*this is the style for the main section of the homepage*/

div.images-container {
    /* this styles the grid in which the main content sits in on the homepage*/
    display: grid;
    max-width: 85%;
    margin: 60px auto;
    grid-template-areas:
        'img1 img2 img3'
        'header1 header2 header3'
        'goals gi phil';

}

div.images-container img {
    /* add alt text to images in html/ this styles the images within the container*/
    height: 250px;
    margin-bottom: 25px;

}

div.images-container h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
}
div.images-container a {
    /* this styles the links within the container */
    text-decoration: none;
    color: white;
    background-color: #ffc40c;
    border-radius: 20px;
    border: 1px solid #ffc40c;
    font-size: 18px;
    padding: 5px 15px 10px 15px;
    margin-top: 25px;
}

div.images-container a:hover {
    /*this sytles the links in the container when they are hovered over*/
    background-color: #002561;
}

/* This styles the footer section*/
footer {
    margin-top: 150px;
    background-color: #002561;
}

.footer-container {
    color: white;
    font-family: 'Alata', sans-serif;
    display: grid;
    max-width: 90%;
    margin: auto ;
    padding: 40px 0;
    grid-template-areas:
        'footer-contact footer-visit footer-discover footer-icons'
}

.footer-container h3 {
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    margin: 0px 0 20px 0;
    padding: 0;
}

.footer-container p {
    font-size: 12px;
    padding-bottom: 20px;
    margin: 0;
}

.footer-container a {
    font-size: 12px;

}
.footer-container a:hover {
    font-style: oblique;
}
 h2.philosophy {
     margin-top: 20px;
     margin-bottom: 40px;
 }
.philosophy-container p {
    margin: 0 0 30px 80px;
    max-width: 70%;
    font-weight: 400;
    font-style: normal;
}

i {
    color: white;
    font-size: 20px;
    margin: 0 5px;
    
}
