* {
    margin: 0 auto;
    padding: 0;
 }

 body {
    font-family:'Alata', sans-serif ;
 }

 a {
     color: white;
     text-decoration: none;
 }

 a:hover {
     color: white ;
     text-decoration: none;
 }

 #header {
     background-color: #002561;
     padding: 15px;
 }


 /* navigation menu*/

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-menu > ul {
    display: flex;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 20px 0 10px 22px
}